<div class="ss">
    <div class="ss-hdr">Keyboard shortcuts</div>
    <div class="kbd-grid">
        <div class="kr">
            <span class="kr-lbl">Start / pause</span>
            <span class="kbd">Space</span>
        </div>
        <div class="kr">
            <span class="kr-lbl">Reset timer</span>
            <span class="kbd">R</span>
        </div>
        <div class="kr">
            <span class="kr-lbl">Switch to Pomodoro</span>
            <span class="kbd">P</span>
        </div>
        <div class="kr">
            <span class="kr-lbl">Switch to Short break</span>
            <span class="kbd">S</span>
        </div>
        <div class="kr">
            <span class="kr-lbl">Switch to Long break</span>
            <span class="kbd">L</span>
        </div>
        <div class="kr">
            <span class="kr-lbl">Show shortcuts</span>
            <span class="kbd">?</span>
        </div>
    </div>
</div>
