@using Pomodoro.Web.Models
@using Pomodoro.Web.Pages

<div class="timeline-scroll-container" id="@Constants.UI.TimelineScrollContainerId">
    <ActivityTimeline Activities="Activities ?? new()" />
    
    @if (HasMoreActivities)
    {
        <div id="@Constants.UI.InfiniteScrollSentinelId" class="scroll-sentinel">
            @if (IsLoadingMore)
            {
                <div class="loading-indicator">
                    <span>Loading more activities...</span>
                </div>
            }
        </div>
    }
    else if (Activities?.Count > 0)
    {
        <div class="end-of-list">
            <span>No more activities</span>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<ActivityRecord>? Activities { get; set; }
    
    [Parameter]
    public bool HasMoreActivities { get; set; }
    
    [Parameter]
    public bool IsLoadingMore { get; set; }
    
    [Parameter]
    public EventCallback OnLoadMore { get; set; }
}
