@inherits TodaySummaryBase

<div class="pomo-row">
    <div class="pomo-left">
        <span class="pomo-emoji">@Constants.SessionTypes.PomodoroEmoji</span>
        <span class="pomo-num">@PomodoroCount</span>
        <span class="pomo-sub">/ @DailyGoal completed today</span>
    </div>
    <div class="pomo-right">
        <span class="pomo-focus-time">@FormatTime(TotalFocusMinutes)</span>
        <span class="pomo-focus-label">focus time</span>
    </div>
</div>
<div class="progress-bar">
    <div class="progress-bar-fill" style="width: @GetProgressWidth()"></div>
</div>
